In this notebook we will go through some basic notions for Python.

## Basics

The simplest way you can use Python is as a calculator. For example, if you run the following cell, you should obtain *64*.

In [1]:
8 * 8

64

Now try to type 100 - 70

We can also do something more complex. Try to run the next line

In [ ]:
100 - (5 * 5) / 3

Before we keep going forward, it will be helpful to introduce a simple concept. As you noticed, every time you run a cell, the computer will execute the commands you wrote and provide an answer. However, there are two scenarios in which this will not happen. The first case is when you write something Python (or the programming language you chose) does not understand. For instance, try to run the following cell:

In [2]:
100 minus 50

SyntaxError: invalid syntax (904748880.py, line 1)

Here Python does not recognise *minus* as a command; thus, it throws you an error. Try to get accustomed to these errors, you will encounter plenty of them while coding. If you find an error, try to read it (if it is short) because it might tell you exactly what the problem is. Furthermore, get accustomed to google your coding issues. More often than not, someone else has already encountered your problem, and others have kindly provided an answer. So, Google is your friend here, and that's fine. 

The second scenario where Python won't execute your commands is when you write a comment. Comments are used as notes to remind yourself and tell others what a chunk of code does. In Python, a comment starts with a **#**. For instance, if you run the following cell

In [3]:
# This line is a comment and it wont be run. The next line is not a comment and it will be executed
10 + 2

12

As you see, here you get the answer you expect from line two, while line one is not executed. If you need more clarification, remove the *#* from the previous cell and rerun it. What happens?

**You should use comments extensively in your code** for multiple reasons. Firstly as a reminder for yourself. Imagine going back to your code after a few months to do a final review of your analysis. It is easy to forget why you wrote specific chunks and it could take lots of time to figure that out. With comments, you can avoid this problem. Secondly, comments are helpful to others who might read your code - your supervisor, your colleagues or someone reviewing your work. 

Sweet, now that we have specified this let's go back to the basic operations. 

## Operators

Generally speaking, Python works performs *numerical* and *logical* operations. Numerical operations are the sort of mathematical operations we were doing before. Python has some basic math operators (an operator is a symbol you use to perform operations), which are:

| Operation | Python operator |
| --- | --- |
| Sum | + |
| Subtraction | - |
| Multiplication | * |
| Division | / |
| Exponentiation | ** |
| Reminder (aka Modulo) | % |
| Integer Division | // |

The first 5 are self-explanatory. The last two need more details. The *modulo* operator (*%*) gives you the reminder of the division between two numbers. For instance:

$$ X \text{%} Z $$ 

returns the reminder of $ \frac{X}{Z} $ 

<div class="alert alert-success"> X % Z is read as "X modulo Z" </div>

Let's give it a try. If we ask Python to perform 

$$ 5 % 2 $$

We expect to obtain 1, as the remainder of $ \frac{5}{2} $ is 1.

In [4]:
# Run the following cell. Is the result what you expect?
5 % 2

1

The modulo operator can be handy, so it is worth learning how to use it properly. We have just introduced its most straightforward usage here. In the exercises below, you will find more examples and particular cases to get you more familiar and comfortable with them. 

The last operator is the *integer division* (*//*). This is also called a "floor division" operator, as it returns the **truncated** result of the division between two numbers. Notably, the **result of the integer division is always the smaller, closer integer that is less or equal to the result of the division**. For instance, $ \frac{10}{6} = 1.6666666666666667 $ and its smaller closer integer is 1. Indeed, if we ask Python to compute the integer division between 10 and 6, we obtain 1

In [8]:
# Run the following cell
10 // 6

1

Now focus on this part *the result of the integer division is always the smaller, closer integer*. What happens if the result is a negative number? Let's first compute $ \frac{10}{-6} $. The result is

In [11]:
# Run this cell to compute 10 / 6
10 / -6

-1.6666666666666667

What is the **smaller** closest integer to this result? Think about the answer to this question, then verify with Python in the cell below:

In [ ]:
# Use the integer division operator to verify your answer. What happens when the result of a division is negative?

Do you understand why *10 // 6* and *10 // -6* provide two different results? If this is not completely clear, think about what is the smaller between 1 and 2 and between -1 and -2. 

Ok, this is it for the math operations. However, at the beginning of this section we said that Python can be used to perform another type of operation, the **logical operations**. These are operations that return as an answer *true* or *false*. For instance, we could ask Python to verify whether two numbers are the same or if a word (string) is longer than another, etc... The answer to this type of question is either true or false. Let's check this:

In [67]:
# Run this cell to check the output that Python provides. Do not worry about the print() statements, they arfe there just so all the answers are disdplayed.

# Is 4 higher than 2?
print(4 > 2)

# Is 10 equal to 10?
print(10 == 10)

# Is 6 lower than 3?
print(6 < 3)

# Is the result of (100 / 25) equal to 4? - Note that here we use two operators 
print( (100 / 25) == 4 )

# Are the words "house" and "mouse" of the same lenght? - Here we use a function called len() to obtain the length of a string (series of carachters)
print( len("house") == len("mouse") )

True
True
False
True

TypeError: 'str' object is not callable

As you can see, the results are all True and False. So what are the basic logical operators in Python?

| Operation | Python operator |
| --- | --- |
| Grater | > |
| Lower | < |
|Equal | == |
| Different | != |
| Greater or equal | >= |
| Lower or equal | <= |
| And | and |
| Or | or |
| Not | not |

There are a couple of things here to highlight. The first 6 operators are, technically speaking,  *comparison operators* as they are used to compare two things. However, their result is a logical value, so it is simpler to consider them within the logical operators. Secondly, equal is *==* and **NOT =**. This is because the single equal sign is used to assign a value to a variable (see next section). Finally, the last three operators are the "real" logical operators in a stricter sense. In Python, they are spelt in words (this is a good example of the meaning of high-level language). We can use them to combine different evaluations. For instance, we can ask whether *(3 > 1) and ( 10 == 10)*. The answer to this question is *true*, as both evaluations return true.

In [17]:
# Let's check the result of (3 > 1) and ( 10 == 10)
(3 > 1) and (10 == 10)

True

Note how beautifully simple Python is to read. Let's do something more complex.

In [18]:
# Here we ask if 3 to the power of 2 equals 9 OR 1 + 4 is less than 2. Remember that A or B is False only when both A and B are false, otherwise it is true
( 3**2 == 9 ) or ( ( 1 + 4 ) < 2 )

True

## Variables

Ok, we have introduced the basic operations we can do in Python. Until now, we have only run simple lines of code to obtain specific results. However, what if you want to reuse the result of an operation? When you write a script, no matter how simple, you will likely want to store some results or values to reuse or manipulate them.
To store a value, we use the **=** operator. Do you remember we said this is not used to check the equality of two values? Indeed, **=** is used to tell Python to save a value "somewhere". Let's see how first:

In [19]:
# Now we store the value 10 in a variable called a
# Run this cell to see 
a = 10

# Don't worry about this, it's just to print a nice result
f"The value stored in a is {a}"

'The value stored in a is 10'

By writing *a = 10* we ask Python to save the value 10 in a **variable** called *a*. From now on, every time we call *a* we obtain 10:

In [20]:
# Type a and run the cell

10

You can think of *a* as a placeholder for the value it stores. Indeed, in this case we can use *a* to perform some operations.

In [21]:
# Run this cell
print( a + 5 )
print( a - 3 )
print( a // 3 )
print( a % -6 )
print( a == 10)

15
7
3
-2
True

You might have noticed that I called *a* a variable. The reason for this is that the value of a variable can change. For instance, if we type *a = 20* we change the value stored in *a* to 20. Thus, if we perform the same operations as before, we obtain different resulst.

In [22]:
# First we change the value sotred in a to 20
a = 20

# Then we perform the same operations as above
print( a + 5 )
print( a - 3 )
print( a // 3 )
print( a % -6 )
print( a == 10)

25
17
6
-4
False

The important aspect to highlight here is that Python (like any other language) works sequentially, running one line at a time. This means that if we assign a value to a variable and then we assign another value, the first value is overwritten.

In [34]:
# What value will produce a when this cell is run? Think of an answer before running the cell
a = 10
a = 20
a = 20 - 5
a = 31
print(a)

31

Note, as a variable is a placeholder for a value, we can use it in any operation, even to update itself. For instance, consider the result above. Let's say we want to divide the value stored in a by 5 and save the result in itself (we want to update a). To do so, we can write:

In [35]:
a = a / 5
print(a)

6.2

Note that a more "pythonic" way to write the expression above to update a variable is * a =/ 5 *. This is outside the scope of this tutorial, so if you are interested, you can read it [here](https://stackoverflow.com/questions/4841436/what-exactly-does-do). 

### Naming Rules
The name of a variable can be anything you want. However, there are some rules, known as *naming rules* that you must follow:
1. A variable name must start with a letter or an underscore ( _ )
2. The rest of the variable name can contain letters, underscores and numbers
3. Names are case sensitive, that is a and A are different variables
4. Do not use names that already have a special meaning in Python

Let's check these rules (run the following cells)

In [40]:
# If we try to create a variable calles 1_participant we get an error, because a variable cannot start with a number
1_participant = "John"

SyntaxError: invalid decimal literal (1532636921.py, line 2)

In [43]:
# we can use numbers and underscores in the remainder of the variable though
participant_1 = "John"
print(participant_1)

John

In [49]:
# Capitalization matters!
Participant_1 = "Mark"

print(f'The variable "participant_1" contains the name: {participant_1}')
print(f'The variable "Participant_1" contains the name: {Participant_1}')

The variable "participant_1" contains the name: John
The variable "Participant_1" contains the name Mark

In [52]:
# Python has some buil-in operators (as we saw above) or functions and you should avoid using them as a variable name.
# If you try to use an operator or a function as a name you most likely get an error
and = 10

SyntaxError: invalid syntax (3748063648.py, line 3)

<div class="alert alert-success">When creating variables, try to use names that are easy to understand. For instance, if you want a variable to store the age of a participant, you could call it "age" or "participant_age" or even "participantAge" (if you don't like underscores). Although variable names can be as long as you want, it is good practice to keep them short so to not make the code difficult to read. In other words, try to strike a balance between clarity and readability. </div>

### Classes

Until now, we have generally talked about variables, and we have used numbers or words in our examples. To fully understand how to use Python (and how to code in general), we need to discuss what kind of "things" we can work with. What can we store in a variable? What operations can we perform? 

We will call the "things" we work with in Python, and also R and Matlab, ***objects***. An object is something that is characterised by a *state* and a *behaviour*. In this sense, a programming object is not really different from any object you see in the real world. For instance, your cup of coffee has a state (eg. empty/full) and a set of behaviours (you can change its position, you can change whether it's content, you can destroy it, etc...). Similarly, our variable *participant_1* has a state (currently *John*) and a set of behaviours (we can modify it in different ways through operators, for instance). Generally speaking, variables, functions, [methods](https://en.wikipedia.org/wiki/Method_(computer_programming) are all objects, and because of that, the languages we are going to use in this boot camp (Python, R and Matlab) are called *Object Oriented Languages*. 

As different objects in the real world behave differently - ice can melt at room temperature, a baby can cry, but not vice versa - different programming objects have different behaviours. The behaviour depends on the ***type*** of the object. Luckily, the number of *types* is limited, and most types are shared across programming languages. Here we will see Python's types (aka [classes](https://www.codecademy.com/resources/docs/python/classes)) in Python lingo.

#### Integers
These are positive or negative whole numbers, including zero. Examples of integers are 0, 10, -48. With integers, you can do pretty much anything you would expect from them, sums, subtractions, divisions, exponentiations, etc... Look at the operators for an idea.

In [1]:
# We now create an object called my_int of type integer (int)
my_int = 19
# To verify that my_int is indeed an integer, we use the function `type`. What result do you get when you run this cell?
type(my_int)

int

#### Floats

Floating-point numbers (floats) are positive or negative numbers with a decimal point. The value after the point can be anything, even zero; thus, every numeric object with a decimal value is a float. Some examples: 13.34, 9.98, 10.0, 35.0000, 32.959575939384758494038374. Again, the behaviour of floats is what you expect from numbers.

In [6]:
# Create a float object called my_float. When you run this cell we will check that the object is indeed a float
my_float = 

# Don't worry about this, it is just a check
if type(my_float) is float:
    print("Correct! that is a float!")
else:
    print(f"Nope, you assigned the value {my_float}, which is of type: {type(my_float)}")

nope, you assigned the value 12, which is of type: <class 'int'>

#### Booleans

There are only two objects of type Boolean: `True` and `False`. Note that ***capitalisation matters!***. You must type these two objects with a capital *T* or a capital *F*. Booleans are useful in coding, and they pop up over and over, especially when we want to check something. They are usually created by logical operators or comparisons. Look at the example below:

In [8]:
# The value of my_bool depends on the variable my_float you defined above
# The use of < will produce a boolean, either True or False
my_bool = my_float < 10
print(f"the variable my_bool is an object of type: {type(my_bool)} and it contains the value {my_bool}")

the variable my_bool is an object of type: <class 'bool'> and it contains the value False

There is a caveat we need to address, though. `True` and `False` are not only boolean objects but also integers

In [13]:
# Are True AND False integers?
isinstance(True, int) and isinstance(False, int)

True

The reason why this is the case is that often we represent true and false through binary code, specifically *true = 1* and *false = 0*. Ok, we said that different types have different behaviours, so does this means that True and False also behave like integers? Yup, it does! Check yourself:

In [14]:
# Run this cell, then replace all 1s and 0s with True and False, respectively
print(1+10)
print(1/100)
print(0+2)
print(0**2)

11
0.01
2
0

#### Strings

You can think of strings as letters, words and sentences. They are extremely useful as they allow us to work not only with numbers but also with written stuff. There is heaps to say about strings, how to work with them and what cool things we can use Python for (eg. natural language learning), but these are outside the scope of this tutorial. For now, let's focus on just a couple of things. Firstly, how do we create a string?

You might think you could type what you want and assign that to a variable.

In [19]:
# Run this cell, what happens?
my_string = I made you a pie. What flavour? Pie flavour!

SyntaxError: invalid syntax (3718246284.py, line 2)

Python throws an error. The reason is that Python considers every word we type as a variable. Because those variables do not exist (and we also violated the syntax), we get an error. Indeed, notice that every variable is a word per se. So, to let Python know that what we are writing is a string, we need to use either:

1. Single quotes: 'this is a string'
2. Double quotes: "this is a string"
3. Triple quotes: '''this is a string''' or """this is a string"""

For now, use only one of the first two options; triple quotes are usually reserved for specific cases.

In [22]:
# Assign a string to the variable my_string then run the cell to check
my_string = 

# Don't worry about this, it is just a check
if type(my_string) is str:
    print("Correct! that is a string!")
else:
    print(f"Nope, you assigned the value {my_string}, which is of type: {type(my_string)}")

nope, you assigned the value 10, which is of type: <class 'int'>

Strings can be of any length and they can include spaces. The reason for this is that the space is just a special character.

In [24]:
short_string = "s"
medium_string = "this is a string"
long_string = "this is a string with a lots of things! Look, we have so many spaces, commas and even other characters like *, %, ), ^, ', and 5"

print(f"short_string is of type: {type(short_string)}")
print(f"medium_string is of type: {type(medium_string)}")
print(f"short_string is of type: {type(long_string)}")

short_string is of type: <class 'str'>
medium_string is of type: <class 'str'>
short_string is of type: <class 'str'>

Look at the long string. Do you notice anything strange? There are at least two things. Firstly, we can use single quotes inside double quotes (and vice versa). Indeed, I find it easier to always use double quotes for strings so that I won't encounter any problem if there is an apostrophe. Secondly, everything inside quotes is a string, even numbers or booleans. Indeed:

In [28]:
# Use the type function to check that a number, written in quotes, is a string

type()

True

We will also highlight another important factor. Some functions and operators are shared across types, but their behaviour can vary. For instance, the `+` operator can be used to sums integers and floats. However, it can also be used with string! Run the following cell:

In [30]:
# We now create two strings and we will try to use the + operator.
first_str = "what happens if "
second_str = "we do this?"

first_str + second_str

'what happens if we do this?'

In [ ]:
We can use the `*` operator too!

In [33]:
"three" * 3

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

#### Lists

What if we want to store multiple objects inside a single object? For instance, if we are working on an experiment, we might want to have an object containing the names of all the conditions we could present to the subject. To do this, we would create a `list`, which is, well, a list of objects. In Python, lists are created by using square brackets ([]). Elements of the list will be separated by a comma. Let's see an example:

In [3]:
# We create a list containing the conditions of our experiment - Run this cell to create the condition object
conditions = ["condition_A", "condition_B", "condition_C"]

print(f" condition is an object of type: {type(conditions)}, containing three objects of type string: {conditions[0]}, {conditions[1]}, and {conditions[2]}")

 condition is an object of type: <class 'list'>, containing three objects of type string: condition_A, condition_B, and condition_C

Note here that in our example the three objects are strings. However, you can store objects of different type, even other variables! For instance:

In [4]:
# A list with objects of different type - conditions is the list we created above
my_list = ["a string", 1, True, 0.64746, conditions]

# Here we use a for-loop to print the type of the objects stored in the variable my_list. We'll look at these loops soon
for i in my_list:
    print(f"{i} is an object of type: {type(i)}")

a string is an object of type: <class 'str'>
1 is an object of type: <class 'int'>
True is an object of type: <class 'bool'>
0.64746 is an object of type: <class 'float'>
['condition_A', 'condition_B', 'condition_C'] is an object of type: <class 'list'>

An important characteristic of lists is that you can modify them by adding new elements, removing existing elements or modifying them. For instance, we could use a function called `append` to add an element to the list we have created before. You will see that here we will use the function after the object we want to modify using a full stop. This is a specific style used in Python to apply [methods](https://docs.python.org/3/tutorial/classes.html#instance-objects). You could see a method as a function specific to an object class. Lists, strings, integers, etc... all have specific methods that you can apply to them.

In [5]:
# create a variable called new_memeber - you can decide what type of variable it is - and we will add it to my_list with the append method
new_member = 

my_list.append(new_member)
print(my_list)

#### Tuples

If lists are a set of objects that can be modified, `tuples` are a set of objects that cannot be changed; they are ***unchangeable***. We create tuples using round brackets (). To show the similarity between tuples and lists, we will create a tuple containing the same objects `my_list`. Then, we will show that, conversely to a list, we cannot add elements to a tuple, as it is unchangeable.

In [11]:
# Below we have defined my_touple as a list ([]). Change the brakets so to make it a touple and then run the cell
my_tuple = ["a string", 1, True, 0.64746, conditions]

if type(my_tuple) is list:
    print("Nope! Square brakets are used to create lists! What brakets should you use for touples?")
elif type(my_tuple) is tuple:
    print("Correct!")
else:
    print("This is neither a tuple nor a list. Did you modify something else other than the brakets?")

TypeError: unhashable type: 'list'

In [12]:
# Now, try to apply the append method to my_tuple to add the variable new_member (look at how we used it with my_list) 
my_tuple.

AttributeError: 'tuple' object has no attribute 'append'

The last cell should return an error saying *AttributeError: 'tuple' object has no attribute 'append'*. This is because tuples and lists have different methods, and the `append` method, used to modify a list, cannot be applied to tuples which are uncheangable. If you're wondering why Python has tuples and lists, you could think of tuples as a safer option than lists. With tuples, you do not run the risk of writing code that accidentally modifies some important values stored in them. On top of this, they tend to be processed faster; thus they can be handy when speed is vital. 

#### Dictionaries

We finish this off by talking about a type of object commonly used in Python, *dictionaries*. Python dictionaries are very similar to the dictionaries you are more familiar with. If you open a dictionary, you see a set of keywords followed by some definitions. If you look into a Python dictionary, you would see something akin to this: a set of keywords (called *keys*), each one associated with a value (integer, float, string, list, tuple, etc...). The crucial aspect of dictionaries is that the association between key and value is strict: one key can only be associated with one value. Note that the opposite is not necessarily false. The same value can be associated with multiple keys. You can think of this in terms of synonyms. In a dictionary, one entry can have only one specific definition. However, the same definition might apply to other entries that are synonyms. 

To define a dictionary, we use the last pair of brackets we have left, the curly brackets ({}). Inside them, we create key-value pairs using the following syntax: *key:value*. Each pair is divided by a comma. Let's see an example.

In [18]:
# We will now create a dictionary containing my name, age and favourite pizza. 
daniele_dict = {
    "name": "daniele",
    "age": 26,
    "pizza": "prosciutto, grana padano and rocket"
}

print(daniele_dict)

{'name': 'daniele', 'age': 26, 'pizza': 'prosciutto, grana padano and rocket'}

In [30]:
# Now create a dictionary containing your name, age and favourite pizza
my_dict = {
    "name": ,
    "age": ,
    "pizza":  
}

# Don't worry about this, it's just for printing
for key, value in my_dict.items():
    print(f"{key} -> {value}")

name -> casa
age -> 23
pizza -> no

What do we notice? The most important thing is that the values can be of different types. Here we used strings and integers, but they can also be floats, lists, tuples, and even other dictionaries! Secondly, you might have wondered why each key is on a new line. That is just for readability, and it is optional for creating dictionaries. We can create my same dictionary as `daniele_dict = {"name": "daniele", "age": 26, "pizza": "prosciutto, grana padano and rocket"}`. As long as the key-vakue pairs are divided by a comma, we are all fine.

### Accessing values

Lists, tuples and dictionaries are useful to store multiple values in a single object. Nonetheless, just storing values in not really useful if we don't have a way to use them. In this section, we will look at how to access the elements in lists, tuples and dictionaries. Let's begin with an example:

In [31]:
# Run this cell
print(f"Hi {my_dict['name']}! Really nice to meet you!")
print(f"My favourite pizza is {daniele_dict['pizza']}, while yours is {my_dict['pizza']}")

Hi casa! Really nice to meet you!
My favourite pizza is prosciutto, grana padano and rocket, while yours is no

In this example we can access the values we stored in the dictionary to write personalised sentences. This is similar to what mailing lists do: have a template with a placeholder and fill this up with values stored in a database. There are many, much more useful things we can do, but here we are interested in how we managed to retreive those values. If you look at the code, you will notice that we used the variables `my_dict` and `daniele_dict` followed by squared brackets. This is the trick, square brackets! If we write the name of a variable of type list, tuple or dictionary (and even strings) followed by *[]*, we are telling Python that we would like to retreive something from it. Obviously, telling Python that we want to retreive something is not enough, we also need to specify **what** we want to retreive. 

In case of dictionaries, the method is quite simple as it replicates what you would do with a real-life dictionary. If you need the definition of a word (key) you look for the word in the dictionary and you retreive the associated definition (value). Thus, in a Python dictionary you would type the key for which you want to retreive the value within the square brackets. Look again at the code above. When we needed to use your name we used `my_dict["name"]`. Same with the pizza, `my_dict["pizza"]`. Try yourself:

In [36]:
# This is a dictionary containing some pieces of information
pizza_dictionary = {
    "S_tier": "prosciutto, grana and rocket",
    "A_tier": ("margherita", "capricciosa", "bufalina"),
    "B_tier": "quattro formaggi",
    "C_tier": "salame piccante",
    "D_tier": "chicken and camembert",
    "E_tier": "meatlover",
    "F_tier": "hawaiian pizza - what the hell is not even a pizza"
}

# Try to extract the requested information from the dictionary

# The best pizza is:
best_pizza = pizza_dictionary[]

# The average (c tier) pizza is
average_pizza = 

# The worst pizza that everyone agrees should not exist is
worst_pizza = 


# Don't worry about this, it's just to check the answers
if (best_pizza == "prosciutto, grana and rocket") and (average_pizza == "salame piccante") and (worst_pizza == "hawaiian pizza - what the hell is not even a pizza"):
    print("Well done!")
else:
    if best_pizza != "prosciutto, grana and rocket":
        print("What is the tier S pizza?")
    elif average_pizza != "salame piccante":
        print("What is the tier C pizza?")
    else:
        print("Everyone agrees that the hawaiian pizza is the worst, no discussions!")

Everyone agrees that the hawaiian pizza is the worst, no discussions!

Easy eh? Now let's move on to how to access the information contained in lists and tuples. We will review only the simples method based on the position of the element(s) we need. However, keep in mind that other methods are available depending on what you need to achieve. 

When we create lists or tuples we add the values one after the other. Indeed, these objects are set of **ordered** values, where each value has its own position. Thus, if we want to retreive a specific value, we can use the position it occupies. This number, called *index*, is passed within the squared brackets as we did for dictionaries.

In [39]:
# Here is a list of New Zealand birds
animal_list = ["kereru", "pukeko", "kea", "tui"]

# To retrieve "kea" we use its position (index) - Add it between the square brackets
big_parrot = animal_list[]

# Don't worry about this, it's just to check the answers
if big_parrot == "tui":
    print("Wait, what's going on? Read below!")
elif big_parrot == "kea":
    print("You know some stuff!")
else:
    print("Try again or read below!")

Try again or read below!

If you used the index 3 and are wondering why it is wrong, that's normal. Python counting system is a bit special. Rather than starting from 1 as we normally do, it starts from 0. Tuus, the index of *kereru* is 0, the index of *pukeko* is 1, the index of *kea* is 2 and the index of *tui* is 3. It is important to pay attention to this behaviour as it is easy to forget about it and ending up with retrieving the wrong values. Note that the other two languages we use, R and Matlab, start counting from 1. Let's see another example:

In [40]:
# retrieve "python" from the tuple below and store it in a variable called this_language
languages = ("R", "C++", "C", "Rust", "Python", "Java", "Octave", "Julia")

# Create the variable here


# Don't worry about this, it's just to check the answer
if this_language != "Python":
    print("Pay attention to the index! Python starts counting from zero!")
else:
    print("Correct!")

NameError: name 'this_language' is not defined

Amazing! Now that we know how to extract one element counting from 0, let's see how to retrieve multiple values. The simples case is if we want to get values that are next to each other. For instance, we might want to get the languages *C, Rust, Python and Java*. To do this we need to pass two numbers between the square brackets. The first is the index of the first value, the second is the index of the last value we want. Try this below

In [41]:
# Retrieve C, Rust, Python and Java from the tuple languages
four_languages = languages[]

# Don't worry about this, it's just to check the answer
if "Java" not in four_languages:
    print("Another weird thing, your variable contains the languages {four_languages}. what the heck? Read below!")
elif four_languages == ('C', 'Rust', 'Python', "Java"):
    print("correct! When did you learn this?")
else:
    print("There is something wrong. Check again or read below")

('C', 'Rust', 'Python')

Ok, I forgot to tell you something. Not only Python starts counting from 0, but it also stops one index before the one you explicitly ask for. So, in the example above, the four languages we want have indices: 2,3,4, and 5. But, if you write `four_languages[2:5]` Python doesn't give you *Java*; it stops one item before. To obtain the last item we are looking for, we need to use `four_languages[2:6]`, that is, use the index if the value after the last we want. Again, this doesn't hold for R and Matlab, so pay attention when working with Python.

TypeError: tuple indices must be integers or slices, not tuple

Unfortunately, accessing non-consequite values is less straightforward and involves concepts we won't cover here. I leave a few examples in the cell below if you are curious.

In [53]:
# Extract C, Python and Octave (idx 2,4,6) using...

# ...List comprehension
three_non_consecutive_values = [languages[v] for v in [2,4,6]]
print(f"three_non_consecutive_values contains the values: {three_non_consecutive_values}")

# multiple assignments
c, p, o = languages[2], languages[4], languages[6]
print(f"Variable c is: {c}, variable p is: {p}, variable o is {o}")

# Using the numpy module
import numpy as np
print(np.array(languages)[[2,4,6]])

three_non_consecutive_values contains the values: ['C', 'Python', 'Octave']
Variable c is: C, variable p is: Python, variable o is Octave
['C' 'Python' 'Octave']

Finally, I very briefly hinted to the fact that you can retrieve values even from strings. I let you try this by yourself, but think about this. A string is a series of character all in a specific order. Thus, you can use the index of the characters you want to extract them. Just remember, ***spaces are character too!***.

In [ ]:
# From the following string. Write your answer inside the print statement
my_string = "This is a long string that you can use to practice how to extract values."

# Extract the first letter (T)
print()

# Extract the first a
print()

# Extract the third space
print()

# Extract the last word
print()

# Extract "string that you can use"
print()